/*
set "toolkit.legacyUserProfileCustomizations.stylesheets" to "true" in about:preferences
place this file in the root directory under the chrome directory i.e. $ROOT_DIRECTORY/chrome/userContent.css
get the root directory in about:profiles
*/
@-moz-document domain(gitlab.com) {
  .system-note .system-note-message .gfm-project_member {
    color: #ff6c00 !important;
  }
  .gfm-project_member {
    background-color: transparent !important;
  }
  .gfm-project_member.gfm-project_member, .md a.gfm-project_member {
    color: #ff6c00 !important;
  }
  .description .md [dir="auto"] {
    font-size: 1rem !important;
  }
  .js-wiki-page-content > p {
    font-size: 1rem !important;
  }
  .js-wiki-page-content > h3 {
    font-size: 1.5rem !important;
  }
  .timeline-discussion-body .md [dir="auto"] {
    font-size: 0.9rem !important;
  }
  .gl-badge.badge-muted {
    background-color: #52b87a !important;
  }
}

@-moz-document domain(cluster-api-operator.sigs.k8s.io) {
  #content > main > p {
    font-size: 1.5rem !important;
  }
  #content > main > ul > li {
    font-size: 1.5rem !important;
  }
}
